.homepage {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
 
}

.content {
  padding: 0 1rem;
  letter-spacing: -0.01em;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex-grow: 1;
}
.head-text {
  font-weight: 600;
  font-size: 2.5rem;
}

.red-cut {
  position: relative;
  font-size: 3rem;
}
.red-cut::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #ff0000;
  position: absolute;
  left: 0;
  bottom: 50%;
}
.highlight {
  color: #0096ff;
}
.grow {
  font-size: 3rem;
}
.features {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.feature {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: 600;
}

.pricing-form {
  background: var(--text-4);
  width: 30rem;
  border-radius: 8px;
  color: var(--text-2);
  padding: 2rem;
}

.progress {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: center;
 
  gap: 9rem;
  

}
.steps{
  display: grid;
  place-items: center;
  gap: .5rem;
}

.step {
  background-color: #0096ff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: grid;
  place-items: center;
  color: var(--text-4);

  
  
}
.select-plan{
  width: 100%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem 0;
}