.homepage {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  justify-content: center;

  min-height: 40rem;
}

.content {
  padding: 0 1rem;
  letter-spacing: -0.01em;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex-grow: 1;
  margin-top: 4rem;
}
.head-text {
  font-weight: 600;
  font-size: 2.5rem;
}

.red-cut {
  position: relative;
  font-size: 3rem;
}
.red-cut::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #ff0000;
  position: absolute;
  left: 0;
  bottom: 50%;
}
.highlight {
  color: #0096ff;
}
.grow {
  font-size: 3rem;
}
.features {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.feature {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: 600;
}

.pricing-form {
  font-family: "Roboto", sans-serif;
  background: var(--text-4);
  width: 30rem;
  border-radius: 8px;
  color: var(--text-2);
  padding: 2rem;
}

.progress {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: center;

  gap: 9rem;
}
.steps {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.step {
  background-color: #0096ff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: grid;
  place-items: center;
  color: var(--text-4);
}
.select-plan {
  width: 100%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.radio-list {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.radio-input[type="radio"] {
  display: none;
}
/* .radio-item {
  width: 100%;
  display: flex;

  border-radius: 4px;
  border: 2px solid var(--text-3);
  padding: 1rem;
} */
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}
.radio-item label {
  cursor: pointer;
  position: relative;
  padding: 1rem;
  padding-left: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: 2px solid var(--text-3);
  font-weight: 600;
  align-items: center;
}
.radio-item {
  position: relative;
  width: 100%;
  transition: scale 100ms ease-in-out;
}
.radio-item:hover {
  scale: 103%;
}
.radio-item label::before {
  position: absolute;
  content: "";
  background: url("../assets/none.png") no-repeat;
  background-size: 80%;
  width: 2rem;
  height: 2rem;

  /* border: 2px solid var(--text-3); */
  top: calc(50% - 14px);
  left: 8px;
}

/* .active-success.radio-item {
  border: 2px solid var(--success);
  background-color: var(--success-2);
} */

.radio-input[type="radio"]:checked ~ label::before {
  background: url("../assets/selected.png") no-repeat;
  /* border: 2px solid var(--text-3); */
}
.radio-input[type="radio"]:disabled ~ label::before {
  background: url("../assets/dot.png") no-repeat;
  top: calc(50% - 16px);
}

.radio-input[type="radio"]:checked ~ label {
  border: 2px solid var(--success);
  background-color: var(--success-2);
}
.radio-input[type="radio"]:disabled ~ label {
  border: 2px solid var(--text-3);
  background-color: var(--disabled);
  color: var(--text-3);
}
.tag {
  font-size: 0;
}

.radio-input[type="radio"]:checked ~ .tag {
  display: flex;
  position: absolute;
  top: 0;
  left: 62px;
  font-weight: 500;
  font-size: 12px;
  background: var(--success);
  color: var(--text-4);
  border-radius: 0px 0px 4px 4px;
  width: 121px;
  align-items: center;
  justify-content: center;
}
.radio-input[type="radio"]:disabled ~ .tag {
  display: flex;
  position: absolute;
  top: 0;
  left: 62px;
  font-weight: 500;
  font-size: 12px;
  background: var(--danger-1);
  color: var(--text-4);
  border-radius: 0px 0px 4px 4px;
  width: 121px;
  align-items: center;
  justify-content: center;
}

.price {
  font-weight: 400;
  font-size: 12px;
}

.price-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.price-grow {
  color: var(--text-2);
  font-weight: 600;
  font-size: 16px;
}
.price-shrink {
  font-size: 10px;
  color: var(--text-3);
}

.radio-input[type="radio"]:disabled .price-info {
  color: var(--text-3);
}
.price-disabled {
  color: var(--text-3);
}

/* total section  */
.total-section {
  width: 100%;
  border-top: 1px solid var(--text-3);
  margin-top: 1rem;
}

.fee {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.fee-val {
  color: var(--text-2);
  font-weight: 500;
}


.limited-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid var(--danger-1);
  background: var(--alert-fill);

  border-radius: 8px;

  background-size: cover;
  background-clip: padding-box;
  z-index: 1;
  flex-direction: column;
  gap: .5rem;
  
}

.limited-time div{
  display: flex;
  
  justify-content: space-between;
}
.lim-title {
  color: var(--danger-2);
  font-weight: 600;
}

.time-offer{
  color: var(--danger-2);
  display: flex;
  align-items: center;
  gap: .5rem;
}
.payment{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.payment button{
  justify-content: center;
  padding: 1rem;
  max-width: 15rem;
  flex-grow: 1;
  border-radius: 4px;
  border: 2px solid var(--danger-1);
  background-color: var(--text-4);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--danger-1);
  cursor: pointer;
  margin-top: .7rem;
}

.payment button:nth-child(2){
  color: var(--text-4);
  background-color: var(--success);
  border: 2px solid var(--sucess);
  padding: 1.1rem;
}